// Place all the styles related to the admins/contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.contact {
	width: 50%;
	margin: 30px auto 30px auto;
	border-bottom: 3px solid silver;
	position: relative;
}


.contact__right {
	position: absolute;
	right: 0px;
	top:0px;
}

.btn {
	line-height: 40px;
}


