
<section class="page">
  <h2 class="page__title">商品一覧</h2>
  <% @albums.each do |album| %>
  <div class="album__wrapper">
<%= link_to album_path(album) do %>


    <div class="album__img"><%= attachment_image_tag album, :jacket_image , :fill,250,250  %></div>

    <div class="album__title"><%= album.album_name %></div>
    
    <div class="album__singer"><%= album.singers.name%></div>
    
  </div>

<% end %>
<% end %>

</section>
