<h2 class="page__title">商品一覧</h2>
<div class="album__wrapper">
  <% @albums.each do |album| %>
  <div class="album__box">
    <div class="album__img"></div>
    <div class="album__title"><%= album.album_name %></div>
    <div class="album__singer"><%= album.album_singer.singer.singer_name %></div>
  </div>
</div>
