<div class="customer__carts customer__content">                                      
  <div class="customer__cart nested-fields form__roww">                    
    <%= form_for cart do |f| %>
    <div class="customer__cart--item">
      <%= f.text_field :order_quantity, class:"form__field" %>
      <%= f.submit ' 完了', class:"btn__login btn" %>
    </div>
    <% end %>
  </div>                                          
</div> 
