<section class="page">

	<h2 class="page__title">お問い合わせ</h2>

	<div>
	<p>送信完了しました。<p>
	<p>お問い合わせ内容確認次第、<br>3営業日以内に担当から記入メールアドレス宛にご連絡いたします。</p>

	<%=link_to "ホームへ", "/", class:"contact__link" %>
	<div>

</section>
