<div id="cart" class="customer__carts customer__content">
    
    <% @album.discs.each.with_index(1) do |disc, i| %>
    <p>DISC<%= i %></p>
        <% disc.songs.each.with_index(1) do |song, i| %>
    <div class="customer__info">
      <label class="customer__info--label"><%= i %></label>
      <p class="customer__info--item"><%= song.song_title %></p>
    </div>
        <% end %>
    <% end %>
  </div>

   