
<section class="page">
<h2 class="page__title">商品編集</h2>
<h3 class="page__heading">商品情報</h3>
<div class="page__content">

<%= render "form", page: admins_album_path, post_album: @album%>
</div>
</section>



