
<section class="page">
<h1>Admins::Albums#edit</h1>
<p>Find me in app/views/admins/albums/edit.html.erb</p>


<%= link_to "削除",  admins_album_path , method: :delete, data: { confirm: '本当に消しますか？' } %>

</section>