

<h1>Admins::Albums#edit</h1>
<p>Find me in app/views/admins/albums/edit.html.erb</p>
<section class="page">
<h2 class="page__title">新規商品追加</h2>
<h3 class="page__heading">商品情報</h3>
<div class="page__content">
<%= render 'form', post_album: @album %>

</section>



