// Place all the styles related to the Albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.page__title{
    text-align: center;

}
.album__wrapper{
    width: 250px;
    float: left;
    margin-right: 0.4rem;
    margin-bottom: 0.5rem;
    border: solid 0.05rem #707070; 
}

.album__img{
    width: 100%;
    height: 250px;

}

.album__title{
    width: 100%;
    
    padding-left: 0.4rem;
    color:#333;
    font-size: 1rem;


}

.album__singer{
    text-align: left;
    padding-left: 0.4rem;
    color: #6c86b9;
    font-size: 0.75rem;

}

.page__search{
    text-align: left;
 }
 
 .page__pagination{
   margin: 1rem;
 }
 
 .page__album{
   width: auto;
   height: 65rem;
 }
 
