/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";  /*ここを追加*/
 @import "bootstrap";            /*ここを追加*/


/* btn */
 .btn{
   height:40px;
   width: 120px;
   border-radius: 10px 10px 10px 10px;
   border-style: none;
   font-size: 15px;
   box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.5);
 }

 .btn:hover{
   box-shadow: none;  
 }

 .btn__login, .btn__signup{
     background-color: green;
     color: white;
 }

/* common */

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

 html{
   font-size: 20px;  
 }

 body{
   width: 90%;
   margin: 0 auto;  
 }

 a{
   text-decoration: none;
   color: black;  
 }

 ul, ol, li{
   list-style: none;  
 }

/* header */

.header {
    background: white;
    display: flex;
    width: 100%;
    height: 3rem;
}

  .header__title {
      font-family: 'Courier New', Courier, monospace;
      font-size: 1.5rem;
      line-height: 3rem;
  }
  
  .header__navs {
      margin-left: 80px;
  }

  .header__nav { 
      display: flex;
      line-height: 3rem;
  }

  .header__item {
      font-size: 0.9rem;;
      margin-left: 2.5rem;
  }

  .header__item :hover {
    color: rgba(0, 0, 0, 0.7);  
  }

  .header-nav__item a:visited,
  .header__logo a:visited {
    color: #000000;
  }

