/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";  /*ここを追加*/
 @import "bootstrap";            /*ここを追加*/


/* btn */
 .btn{
   height: 2rem;
   width: 6rem;
   border-radius: 10px 10px 10px 10px;
   border-style: none;
   font-size: 15px;
   box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.5);
   text-align: center;
 }

 .btn:hover{
   box-shadow: none;
 }

 .btn__login, .btn__signup{
     background-color: green;
     color: white;
 }

 .btn__destroy {
   background-color: red;
   color: white;
   
 }
 
 .btn__admin{
  height:40px;
  width: 120px;
  border-radius: 10px 10px 10px 10px;
  border-style: none;
  font-size: 15px;
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.5);
  text-align: center;
  float:left;
  margin-right: 1rem;
}

 

 .btn__link{
   color: white;
   line-height: 2rem;
   display: inline-block;
 }

 .btn__delete{
   color:white;
   line-height: 2rem;
   background-color: red;
   display: block;
 }

/* common */

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

 html{
   font-size: 20px;  
 }

 body{
   width: 90%;
   margin: 0 auto;  
 }

 a{
   text-decoration: none;
   color: black;
 }

 ul, ol, li{
   list-style: none;  
 }

/* header */

.header {
    background: white;
    display: flex;
    width: 100%;
    height: 3rem;
}

  .header__title {
      font-family: 'Courier New', Courier, monospace;
      font-size: 1.5rem;
      line-height: 3rem;
  }
  
  .header__navs {
      margin-left: 80px;
  }

  .header__nav { 
      display: flex;
      line-height: 3rem;
  }

  .header__item {
      font-size: 0.9rem;;
      margin-left: 2.5rem;
  }

  .header__item :hover {
    color: rgba(0, 0, 0, 0.7);  
  }

  .header-nav__item a:visited,
  .header__logo a:visited {
    color: #000000;
  }

/* page */

.page{
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.page__title{
  margin: 60px 0;
}

.page__content{}

.page__bottom{
   text-align: left;
}  

/* form */

.form__row {
    height: 40px;
    display: flex;
    margin-bottom: 20px;
}

.form__label{
    font-size: 20px;
    width: 20%;
    margin-right: 5%;
    text-align: right;
    line-height: 40px;
}

.form__field{
    background-color: lightgray;
    border-radius: 10px 10px 10px 10px;
    border-style: none;
    height: 40px;
    width: 60%;
    padding: 0 15px;
    font-size: 18px;
}

.form__condition{
    width: 23%;
    margin: 0 0 0 2%;
    color: dimgray;
    font-size: 12px;
    text-align: left;
    line-height: 15px;
}

.form__alert{
  color: red;  
}

.page__bottom{
   text-align: left;
}  

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
