/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";  /*ここを追加*/
 @import "bootstrap";            /*ここを追加*/


 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }



.header {
    background: #fff;
    display: flex;
    padding: 60px 20px;    
    width: 100%;
}

  .header__logo {
      font-family: 'Courier New', Courier, monospace;
      font-size: 70px;
  }
  
  .header-nav{
      padding-top: 45px;
      margin-left: 133px;
  }

  .header-nav__menu { 
      display: flex;
  }

  .header-nav__item {
      font-size: 30px;
      font-family: Noto Sans;
      padding-right: 75px;
      list-style: none;
  }

  .header__logo a ,
  .header-nav__item a{
    text-decoration: none;
  }
  
  .header-nav__item a:visited,
  .header__logo a:visited {
    color: #000000;
  }
  
 



