.customer__cart{
  display:flex;  
  background: lightgray;
  margin-bottom: 3rem;
  border: 1px solid gray;
  border-radius: 1rem;
}

.customer__cart--left{
  margin-right: 3rem;    
}

.customer__cart img{
  max-width: 10rem;  
}

.customer__cart--right{
  text-align: left;  
}

.customer__cart--item{
  line-height: 2rem;  
}
