.customer__cart{
  display:flex;  
  background: lightgray;
  margin-bottom: 3rem;
  border: 1px solid gray;
  border-radius: 1rem;
}

.customer__cart--left{
  margin-right: 3rem;    
}

.customer__cart img{
  max-width: 10rem;  
}

.customer__cart--right{
  text-align: left;  
}

.customer__cart--item{
  line-height: 2rem;  
}

.customer__order--wrapper{
  text-align: left;
  background-color: #f0f0f0;
  margin-bottom: 5rem;
}

.customer__order--wrapper label{
  margin-right: 3rem;
}

.customer__order--top{
  display: flex;  
}


